@import "../../Colors";

.stove{
	width: 300px;
	margin: 20px auto 0 auto;
	display: block;
	border: 2px solid $color_lightgray;
	position: relative;
	
	&:after, &:before{
		content:'';
		width: 50px;
		height: 20px;
		background-color: $color_black;
		position: absolute;
		bottom: -20px;
	}
	&:before{
		left: 0;
		border-radius: 0 0 15px 0;
	}
	&:after{
		right: 0;
		border-radius: 0 0 0 15px;
	}
	
	.stoveTop{
		width: 100%;
		float: left;
		background: rgb(20,20,20);
		background: -moz-linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(61,61,61,1) 100%);
		background: -webkit-linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(61,61,61,1) 100%);
		background: linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(61,61,61,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#141414",endColorstr="#3d3d3d",GradientType=1);
		
		.burner{
			width: 80px;
			height: 30px;
			margin: 15px auto;
			display: block;
			border: 1px solid #666;
			border-radius: 50%;
			background-color: transparent;
			transition: all ease 4s;
			
			&.burning {
				transition: all ease 2s;
				background-color: $color_danger;
				box-shadow: 0 0 20px 5px rgba(255,0,0,0.5);
			}
		}
	}
	
	.stoveTopButtons{
		width: 100%;
		float: left;
		margin-top: 15px;
		padding: 0 10px;
		
		.burnerButton{
			width: 30px;
			height: 30px;
			display: block;
			margin: 0 auto;
			border-radius: 50%;
			border: 2px solid $color_lightgray;
			background-color: $color_black;
			position: relative;
			box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
			transition: all ease 0.3s;
			
			&.active{
				transform: rotate(290deg);
			}
			
			&:after{
				content:'';
				width: 5px;
				height: 5px;
				border-radius: 50%;
				background-color: $color_lightgray;
				position: absolute;
				top: 0;
				left: 50%;
				margin-left: -3px;
			}
			
			&:hover{
				box-shadow: 0 0 10px 3px $color_primary;
			}
		}
	}
	
	.oven{
		width: 100%;
		display: block;
		float: left;
		padding: 30px;
		margin-top: 15px;
		position: relative;
		background: rgb(28,28,28);
		background: -moz-linear-gradient(120deg, rgba(28,28,28,1) 0%, rgba(101,101,101,1) 100%);
		background: -webkit-linear-gradient(120deg, rgba(28,28,28,1) 0%, rgba(101,101,101,1) 100%);
		background: linear-gradient(120deg, rgba(28,28,28,1) 0%, rgba(101,101,101,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1c1c1c",endColorstr="#656565",GradientType=1);
		
		.lampButton{
			width: 15px;
			height: 15px;
			border-radius: 50%;
			position: absolute;
			top: 7px;
			right: 47px;
			background-color: $color_danger;
		}
		
		.ovenWindow{
			background-color: $color_gray;
			width: 100%;
			height: 250px;
			display: block;
			float: left;
			position: relative;
			filter: blur(1px);
			opacity: 0.8;
			overflow: hidden;
			
			&.burning{
				background: rgb(50,50,50);
				background: -moz-linear-gradient(180deg, rgba(50,50,50,1) 0%, rgba(50,50,50,1) 85%, rgba(255,0,0,1) 100%);
				background: -webkit-linear-gradient(180deg, rgba(50,50,50,1) 0%, rgba(50,50,50,1) 85%, rgba(255,0,0,1) 100%);
				background: linear-gradient(180deg, rgba(50,50,50,1) 0%, rgba(50,50,50,1) 85%, rgba(255,0,0,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#323232",endColorstr="#ff0000",GradientType=1);
			}
			
			&:before, &:after{
				content: '';
				width: 100%;
				height: 2px;
				background-color: $color_lightgray;
				opacity: 0.1;
				position: absolute;
				left: 0;
			}
			&:before{
				top: 50%;
			}
			&:after{
				top: 60%;
			}
			
			.ovenLamp{
				position: absolute;
				top: 0;
				right: 10px;
				color: $color_black !important;
				transform: rotate(180deg);
				
				&.active{
					color: $color_warning !important;
				}
			}
		}
		
		.brandName{
			color: $color_lightgray;
			opacity: 0.5;
			position: absolute;
			top: 35px;
			left: 40px;
		}
	}
}
