$color_salmon: #EB6A8B;
$color_primary: #4086f4;
$color_secondary: #8f8f8f;
$color_terciary: #7E068A;
$color_success: #009b62;
$color_danger: #eb4132;
$color_warning: #fbbd01;
$color_info: #0DCAF0FF;
$color_light: #ffffff;
$color_dark: #202124;
$color_gray: #323232;
$color_lightgray: #E6E6E6;
$color_white: #ffffff;
$color_black: #000000;
